<div class="page-header">
  <h1>Notes
  </h1>
</div>

<table id="notes" class="zebra-striped">
  <thead>
    <tr>
      <th class="header">#</th>
      <th class="header blue">Name</th>
      <th class="header purple">Created at</th>
      <th class="header green">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| -%>
      <% present note do |note_presenter| -%>
        <tr id="note-<%= note.id %>">
          <td><%= note.id %></td>
          <td>
            <%= render :partial => "status", :locals => {:note => note} %>
            <%= link_to note.name, note_path(note), :rel => "popover", :"data-content" => note_presenter.short_description, :"data-original-title" => note.name %>
          </td>
          <td><%= note_presenter.display_created_at %></td>
          <td>
            <%= link_to "Show", note_path(note) %>
            <%= link_to "Edit", edit_note_path(note) %>
            <%= link_to "Destroy", "#", :remote => true, :"data-note-name" => note.name, :"data-note-id" => note.id, :"data-backdrop" => "static", :class => "destroy-action" %>
          </td>
        </tr>
      <% end -%>
    <% end -%>
  </tbody>
</table>

<%= will_paginate @notes %>

<div id="destroy-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h3></h3>
  </div>
  <div class="modal-body">
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <%= link_to "Destroy", notes_path, :remote => true, :"data-note-id" => nil, :method => :delete, :class => "btn danger" %>
    <a href="#" class="btn secondary close-modal">Cancel</a>
  </div>
</div>
