
  <label class="label"><%= t("activerecord.attributes.note.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
  <p><%= @note.name %></p>

  <label class="label"><%= t("activerecord.attributes.note.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</label>
  <p><%= @note.description %></p>
<%= link_to "Back", notes_path  %>
