<!DOCTYPE html>
<html>
  <head>
    <title>Notebox</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body style="padding-top: 60px">
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <h3><%= link_to "Notebox", "/" %></h3>
          <ul class="nav">
            <li><%= link_to "Home", "/"  %></li>
            <li><%= link_to "About", "/path1"  %></li>
            <li><%= link_to "Contact", "/path2"  %></li>
          </ul>

          <%= form_tag notes_path, method: :get do %>
            <%= text_field_tag 'query', nil, :class => "large", :placeholder => "Search" %>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
          <h5>Sidebar</h5>
          <ul>
            <li><%= link_to "About", "/path1"  %></li>
            <li><%= link_to "Contact", "/path2"  %></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
